@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap');

:root {
    --hue-correct: 145;
    --hue-incorrect: 0;
    --hue-neutral: 200;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

body{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 80%);
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
}

body.correct {
    --hue: var(--hue-correct);
}

body.incorrect {
    --hue: var(--hue-incorrect);
}

.btn {
    --hue:var(--hue-neutral);
    background: hsl(var(--hue), 100%, 50%);
    border: 2px solid hsl(var(--hue), 100%, 25%);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: #000000;
}

.btn:hover {
    border-color: #000000;
}

.btn.incorrect {
    --hue: var(--hue-incorrect);
}

.btnGrid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0;
    padding: 5px 0;
}

#cardBody{
    --hue:var(--hue-neutral);
    border-bottom: 2px  solid hsl(var(--hue), 100%, 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 2px 5px; 
    font-size: 17px;
    font-weight: 500;
}

#cardHeader{
    --hue:var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 45%);
    border-bottom: 2px solid #737373;
    border-radius: 4px;
    box-shadow: 0px 4px 7px 0px hsl(var(--hue), 85%, 25%);
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    justify-content: center;
    padding: 5px 0;
}

.command {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    max-width: 80%;
    padding: 10px;
    width: 800px;
}

.nextBtn,
.startBtn {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 20px;
    margin: 10px 0;
}


.hide {
    display:none;
}


li {
    line-height: 1.75rem;
}

#option:hover  {
    box-shadow: 7px 3px 15px 3px hsl(180, 100%, 25%);
}



.show {
    display: block;
} 

.startBtn {
    background-color: hsl(75, 80%, 50%);
}